.HellsDoor {
    height: 100%;
    display: grid;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    background-image: url('./img/gate.jpg');
    background-size: cover;
    background-position: center;
    padding: 0 10px;
}

.HellsDoor .wordart img {
    width: 100%;
    max-width: 800px;
}

.HellsDoor .gifs {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 840px;
    justify-content: space-around;
}

.HellsDoor .gifs img {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 10px 0;
}

.HellsDoor .best-team {
    position: absolute;
    top: 50%;
    transform: translate(0%, -60%);
}

