.Drugs {
    width: 600px;
    height: 350px;
    color: white;
    background-image: url('./img/Fond.png');
    background-size: cover;
    text-align: center;
}

.Drugs .Blood, .Syringue {
    position: absolute;
}

.Country {
    display: inline-flex;
}

