.Drugs {
    height: 350px;
    color: white;
    background-image: url('./img/Fond.png');
    background-size: cover;
    text-align: center;
}

.Drugs .title {
    font-family: Neucha;
    font-size: 1.5em;
}

.Drugs .element {
    margin-left: 45%;
}

.Drugs .Blood, .Syringue {
    position: absolute;
}

.Drugs .settings {
    cursor: pointer;
    color: wheat;
    font-weight: bolder;
}

.Drugs .settings:hover {
    color: red;
}


