.Drugs {
    width: 600px;
    height: 350px;
    color: white;
    background-image: url('./img/Fond.png');
    background-size: cover;
    text-align: center;
}

.Drugs .Blood, .Syringue {
    position: absolute;
}

.Drugs .Blood {
    margin-top: 1.7em;
    margin-left: -0.2em;
}

.Country {
    display: inline-flex;
}

