.svgContainer{
    position: absolute;
    top : 0 ;
    right : 0;
    opacity : 0.99;
  	transform : scale(1);
  	transition : 1s ease-in-out; 
  }

  .svgAnim0{
    transform : scale(2.7);
  }

  .svgAnim1{
  	transform: scale(2);
  }

  .svgAnim2{
  	transform: scale(1.6);
  }

  .svgAnim3{
  	transform: scale(1.4);
  }

  .svgAnim4{
  	transform: scale(1);
  }

  .svgAnim5{
  	transform: scale(0.8);
  }

  .svgAnim6{
  	transform: scale(0.6);
  }

  .svgAnim7{
  	transform: scale(0.4);
  } 

  .svgAnim8{
  	transform: scale(0.2);
  }

  .svgAnim8{
  	transform: scale(0.15);
  }

  .svgAnim9{
  	transform: scale(0.1);
  }

  

  @media only screen and (max-width: 900px) {
  .svgContainer{
    margin-right : -3%;
  }
  }

   @media only screen and (max-width: 700px) {
    .svgContainer{
      margin-right : -12%;
    }
  }

  @media only screen and (max-width: 550px) {
    .svgContainer{
      margin-right : -18%;
    }
  }

  @media only screen and (min-width: 1250px) {
    .svgContainer{
      margin-right : -15%;
    }
  }

  @media only screen and (min-width: 1400px) {
    .svgContainer{
      margin-right : -11%;
    }
  }

  @media only screen and (min-width: 1600px) {
  .svgContainer{
    margin-right : -5%;
  }
  }

