.Crimes {
    width: 250px;
    height: 350px;
    background-color: purple;
    color: white;
    background-image: url("img/haunted.jpg");
    background-size : cover;
    position : relative;
    overflow: hidden;
}

.Crimes h2{
	text-align : center;
	margin : 0;
	padding : 0;
	font-family: WhoAsksSatan;
}

.Crimes h3, .Crimes h2{
	text-align : center;
}

.Crimes h3{
	margin-top : 0;
}

.Crimes #container{
	position : relative;
	height : 300px;
}

.Crimes #contentBlood, .Crimes #selectCountry{
	position : absolute;
	top : 10px;
	width : 45%;
}

@keyframes ufo-building-float {
	0%   {transform: translateY(0)}
	25%  {transform: translateY(-25px)}
	75%  {transform: translateY(25px)}
	100% {transform: translateY(0)}
  }

  .svgContainer{
  	width : 100%;
  	transform-origin : 78% 50% ;
  	transform : scale(1);
  	transition : 0.5s ease-in-out;
  }

  .svgAnim1{
  	transform: scale(2);
  }

  .svgAnim2{
  	transform: scale(1.6);
  }

  .svgAnim3{
  	transform: scale(1.4);
  }

  .svgAnim4{
  	transform: scale(1);
  }

  .svgAnim5{
  	transform: scale(0.8);
  }

  .svgAnim6{
  	transform: scale(0.6);
  }

  .svgAnim7{
  	transform: scale(0.4);
  } 

  .svgAnim8{
  	transform: scale(0.2);
  }

  .svgAnim8{
  	transform: scale(0.15);
  }

  .svgAnim9{
  	transform: scale(0.1);
  }

.Crimes svg{
	opacity : .99;
	position : absolute;
	top : 0;
	left : 0%;
}


.Crimes #contentBlood{
	top : 38%;
	right : 0px;
	text-align : center;
}

.Crimes #selectCountry :nth-child(n+2){
	background-color : black;
	width : 100%;
	color : white;
	height : 40px;
	margin-top : 8px;
}

.Crimes #selectCountry :nth-child(6){
	background-color : blue;
	color : white;
	text-transform: uppercase;
}

