.Crimes {
    width: 250px;
    height: 350px;
    background-color: purple;
    color: white;
    background-image: url("img/haunted.jpg");
    background-size : cover;
    overflow: hidden;
}

.Crimes h2{
	text-align : center;
	margin : 0;
	padding : 0;
	font-family: WhoAsksSatan;
}

.Crimes h3, .Crimes h2{
	text-align : center;
}

.Crimes h3{
	margin-top : 0;
}

.Crimes #container{
	position : relative;
	height : 300px;
}

.Crimes .BloodStain, .Crimes #contentBlood, .Crimes #selectCountry{
	position : absolute;
	top : 10px;
	width : 45%;
}

.Crimes .BloodStain{
	right : 22.5%;
	transform-origin : center;
	transform: scale(0.5);
	transition : transform 0.8s;
	opacity : 0.99;
	left : 55%;
	top : -10%;
}

.Crimes .BloodStain img{
	width : 100%;
	height : 100%;
}

.Crimes #contentBlood{
	transform: translate(0px, 100%);
	right : 0px;
	text-align : center;
}

.Crimes #selectCountry :nth-child(n+2){
	background-color : black;
	width : 100%;
	color : white;
	height : 40px;
	margin-top : 8px;
}

.Crimes #selectCountry :nth-child(6){
	background-color : blue;
	color : white;
	text-transform: uppercase;
}

