.Crimes {
    width: 250px;
    height: 350px;
    color: white;
    
    background-image: url("img/haunted.jpg");

    background-size : cover;
    position : relative;
    overflow: hidden;
}

.Crimes #blackfilter{
	position: absolute;
	width : 100%;
	height : 400px;
	background-color: rgba(0,0,0,0.5);
}

.Crimes h2{
	margin : 2% 0 0 3%;
	font-family: Highlight;
	font-size : 3em;
}

.Crimes #container{
	position : relative;
	height : 300px;
}

.Crimes #contentBlood, .Crimes #selectCountry{
	position : absolute;
	width : 45%;
}

.Crimes #contentBlood h3{
	font: 3em Highlight ; 
	margin : 8px;
}

.Crimes #contentBlood p{
	font : 20px Hamburger; 
	font-weight: bold;
	margin : 0;
}

.Crimes #contentBlood{
	top : 30%;
	right : 0px;
	text-align : center;
}

.Crimes #selectCountry{
	left : 3%;
}

.Crimes #selectCountry .Button{
	border : 0;
	background-color : black;
	width : 100%;
	color : white;
	height : 40px;
	margin-top : 8px;
}

.Crimes #selectCountry .Button:hover{
	opacity : 0.8;
}

.Crimes #selectCountry :nth-child(5){
	background-color : blue;
	color : white;
	text-transform: uppercase;
}


