.Suicides {
    color: white;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

.SuicideAnimation {
    background: 0% 0% / contain rgb(24, 24, 29);
    width: 300px;
    cursor: default;
}

.Suicides canvas {
    width:100%;
}

.Suicides .display {
    background: linear-gradient(180deg, #BF5252 0%, #2104CF 100%);
    padding: 10px;
    font-family: HiMelody;
    font-size: 2em;
}

.Suicides .title {
    font-family: VampiroOne;
}

.Suicides button {
    background-color: #00A3FF;
    color: white;
    width: 250px;
    height: 50px;
    font-family: Chango;
    font-size: 0.6em;
    margin: 5px 0;
    border: none;
}

#animationCanva:active { 
    cursor: pointer;  
}
