.Bribes {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    font-family: Neucha;
    color:white;
}

.Bribes button {
    max-width: 100px;
    word-wrap: break-word;
}

.Bribes .death {
    width: 50px;
}
