.Bribes {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    font-family: Neucha;
    color:white;
    position: relative;
    overflow: hidden;
}

.Bribes .container {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.Bribes .quotes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.Bribes button {
    color: wheat;
    font-family: Chango;
    font-size: 1.2em;
    max-width: 200px;
    word-wrap: break-word;
    margin: 10px;
    padding: 5px 30px;
    z-index: 2;
    background: rgba(255, 0, 0, 0.6);
    border: none;
}

.Bribes button:hover {
    background: rgba(0, 255, 21, 0.6);
}

.Bribes h2 {
    z-index: 2;
    text-shadow: #FC0 1px 0 10px;
    max-width: 70%;
}

.Bribes .death {
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
}
