.Statishlag {
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    background-image: url('./img/flames.jpg');
    background-size: cover;
    justify-content: center;
}

.Statishlag > div {
    margin: 25px;
    width: 45%;
    max-width: 800px;
}

@media screen and (max-width: 1250px) {
    .Statishlag > div {
        margin: 10px;
        width: 90%;
    }
}
