.CausesOfDeath {
    width: 250px;
    height: auto;
    background-color: red;
    color: white;
    background-image: url("img/bg3.jpg");
    --color2 : #ff8614; /*orange*/
    --color1 : #e8334b; /*pink*/
    --color3 : #c41a30; /*darker pink*/

    /*TIER CODES*/
    --STier : #f2301b;
    --ATier : #eff748;
    --BTier : #1bfa53;
    --CTier : #33ddff;
    --DTier : #ed47a0;

}

.CausesOfDeath h3, .CausesOfDeath h4, .CausesOfDeath #year {
	text-align : center;
}

.CausesOfDeath h3, .CausesOfDeath h4{
	margin-top : 10px;
}

.CausesOfDeath h3{
	font: 2.3em Blacklist;
	margin-bottom : 0;
}

.CausesOfDeath h4{
	font: 1em Hamburger;
	font-weight: bold;
	margin : 0;
}

.CausesOfDeath #title{
	background-color : var(--color1);
	padding : 15px;
}

.CausesOfDeath .Button{
	width : 70px;
	line-height: 15px;
	background-color: var(--color3);
	color : white;
	border : none;
	font-size : 2em;
}

.CausesOfDeath #selectYear{
	background-color : var(--color1);
	width : 75%;
	margin : 50px auto auto ;
	display : flex;
	justify-content: space-between;
}

.CausesOfDeath #tierList{
	padding : 0;
	width : 75%;
	margin : auto;
	background-color : blue;
}

.CausesOfDeath .nbDeaths{
	color : #ebe2e1;
}

.CausesOfDeath .tierListElem, .CausesOfDeath #year{
	font : 1.2em Hamburger;
	font-weight: bold;
}

.CausesOfDeath .tierListElem{
	position : relative;
	border-top : 1px solid white;
	margin :0;
	padding : 18px;
	background-color : var(--color2);
}

.CausesOfDeath .tierCategory{
	position : absolute;
	top : 5px;
	right : 30px;
	margin :0;
	padding : 15px;
}

.CausesOfDeath .tierCategory.sTier{
	background-color : var(--STier);
}

.CausesOfDeath .tierCategory.aTier{
	background-color : var(--ATier);
}

.CausesOfDeath .tierCategory.bTier{
	background-color : var(--BTier);
}

.CausesOfDeath .tierCategory.cTier{
	background-color : var(--CTier);
}

.CausesOfDeath .tierCategory.dTier{
	background-color : var(--DTier);
}