.Poverty {
    font-family: VampiroOne;
    background-image: url('./img/bgPoverty.jpg');
    display: grid;
    align-content: space-around;
    color: black;
    overflow: hidden;
}

.Poverty .chartjs-render-monitor {
    width: 100% !important; /* They made me do it */
    height: auto !important;
}

.Poverty .element {
    text-align: center;
}

.Poverty .settings {
    cursor: pointer;
    color: red;
    font-weight: bolder;
}

.Poverty .settings:hover {
    color: black;
}

.Poverty .PovertyChart {
    cursor: default;
}