.Poverty {
    font-family: VampiroOne;
    background-image: url('./img/bgPoverty.jpg');
    color: black;
}

.Poverty .element {
    text-align: center;
}

.Poverty .settings {
    cursor: pointer;
    color: red;
    font-weight: bolder;
}

.Poverty .settings:hover {
    color: black;
}

.Poverty .PovertyChart {
    cursor: default;
}