html, body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
}

@font-face {
  font-family: WhoAsksSatan;
  src: url('/fonts/who-asks-satan.ttf') format('truetype');
}
