html, body {
  margin: 0;
  height: 100%;
  cursor: url('/img/cursor.png'), auto;
}

button, a, canvas {
  cursor: url('/img/cursorPointer.png'), auto;
}

#root {
  height: 100%;
  display: grid;
  grid-template-columns: 200px 1fr;
}

@media screen and (max-width: 1000px) {
  #root {
    grid-template-columns: 1fr;
  }
}

@font-face {
  font-family: WhoAsksSatan;
  src: url('/fonts/who-asks-satan.ttf') format('truetype');
}

@font-face {
  font-family: Chango;
  src: url('/fonts/chango.ttf') format('truetype');
}

@font-face {
  font-family: HiMelody;
  src: url('/fonts/hi-melody.ttf') format('truetype');
}

@font-face {
  font-family: Neucha;
  src: url('/fonts/neucha.ttf') format('truetype');
}


@font-face {
  font-family: VampiroOne;
  src: url('/fonts/vampiro-one.ttf') format('truetype');
}
