.Suicides {
    width: 250px;
    height: 250px;
    color: white;
    background-color: black;
    z-index: 1000;
}

#hangingMan {
    margin-top: -10em;
    margin-left: 4em;
}

#animationCanva:active { 
    cursor: pointer;  
}